<h3>Welcome to the Admin Portal</h3>
<p><%= User.count%> employees in the system</p>
<p><%= link_to "Access User Settings", users_path%></p>
<% if user_signed_in? %>
  <% if !current_user.try(:admin?) %>
    <p><%= link_to "Access Your links", current_user %> </p>
  <% end %>
<% end %>
