<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <h3><%= link_to 'View Role Links', role_specs_path %> <br>
    <%= link_to 'View Global Links', global_links_path %> <br>
    <%= link_to 'Create New User', new_user_registration_path %></h3>   
  </div>
</div>
